<div class="content-form">
        <h3>BİR YORUM YAP</h3>
        <form method="post">

            <input type="text" placeholder="ID" name="Blogid" value="@ViewBag.deger" readonly />
            <input type="text" placeholder="Kullanıcı Adı" name="KullaniciAdi" required />
            <input type="text" placeholder="Mail Adresi" name="Mail" required />
            <input type="text" placeholder="FotoUrl" name="FotoUrl" required />
            <textarea placeholder="Yorum" name="Yorum"></textarea>
            <input type="submit" value="GÖNDER" />
        </form>
    </div>

