<div class="content-form">
        <h3>BİZİMLE İLETİŞİME GEÇİN</h3>
        <form method="post">

           
            <input type="text" placeholder="Kullanıcı Adı" name="AdSoyad" required />
            <input type="text" placeholder="Mail Adresi" name="Mail" required />
            <input type="text" placeholder="Konu" name="Konu" required />
            <textarea placeholder="Mesaj" name="Mesaj"></textarea>
            <input type="submit" value="GÖNDER" />
        </form>
    </div>

